@page "/"

<PageTitle>Home</PageTitle>

<h1>WikiTrends</h1>

<p>UI over <code>WikiTrends.Gateway</code>.</p>

<div class="list-group">
    <a class="list-group-item list-group-item-action" href="health">Gateway health</a>
    <a class="list-group-item list-group-item-action" href="trends">Trends</a>
    <a class="list-group-item list-group-item-action" href="clusters">Clusters</a>
    <a class="list-group-item list-group-item-action" href="topics">Topic details</a>
</div>
